<div class="loader">
    <div class="loader-1">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>
</div>
<!--Navigation Bar Section-->
<nav class="navbar navbar-default navbar-fixed-top tv-navbar-padding-10">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="navbar-header text-center">
                    <a href="home.html" class="navbar-brand"><span>HIMALAYAN</span> EXPLORER</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tv-navbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="collapse navbar-collapse" id="tv-navbar">
                    <ul class="nav navbar-nav text-center main-menu">
                        <li class=""><a href="#myPage" class="tv-menu">Home</a></li>
                        <li class="dropdown">
                            <a class="drop dropdown-toggle dropbtn tv-menu">Package Tours</a>
                            <ul class="dropdown-menu dropdown-content" role="menu" style="top:50px;">
                                <li><a href="/ExploreSikkim"> Explore Sikkim</a></li>
                                <li><a> North Sikkim</a></li>
                                <li><a> Yumthang Tour</a></li>
                                <li><a> Tour de Silk Route</a></li>
                                <li>
                                    <a href="grid.html"> Explore Queen of Hills</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="drop dropdown-toggle dropbtn tv-menu">Trekking</a>
                            <ul class="dropdown-menu dropdown-content" role="menu" style="top:50px;">
                                <li><a>Route1</a></li>
                                <li><a> Route2</a></li>
                                <li><a> Route3</a></li>
                                <li><a> Route4</a></li>
                            </ul>
                        </li>
                        <!-- <li class="dropdown">
                            <a class="drop dropdown-toggle dropbtn tv-menu">Components</a>
                            <ul class="dropdown-menu dropdown-content" role="menu" style="top:50px;">
                                <li><a href="accordions.html"><i class="fa fa-plus-circle fa-sm"></i>Accordions</a></li>
                                <li><a href="alerts.html"><i class="fa fa-bell fa-sm" aria-hidden="true"></i>Alert</a></li>
                                <li><a href="buttons.html"><i class="fa fa-link fa-sm"></i>Button</a></li>
                                <li><a href="form-fields.html"><i class="fa fa-align-justify fa-sm"></i>Form Field</a></li>
                                <li><a href="grid.html"><i class="fa fa-th fa-sm"></i>Grid</a></li>
                                <li><a href="icons.html"><i class="fa fa-heart fa-sm"></i>Icons</a></li>
                                <li><a href="message.html"><i class="fa fa-comment fa-sm" aria-hidden="true"></i>Message</a></li>
                                <li><a href="tab.html"><i class="fa fa-columns fa-sm"></i>Tab</a></li>
                                <li><a href="typography.html"><i class="fa fa-font fa-sm"></i>Typography</a></li>
                            </ul>
                        </li> -->
                        <li class=""><a href="#testimonial" class="tv-menu">Testimonial</a></li>
                        <li class=""><a href="#blog" class="tv-menu">Other places</a></li>
                        <li class=""><a href="#contactus" class="tv-menu">Contact us</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
                <div class="collapse navbar-collapse" id="tv-navbar">
                    <div class="social-navbar">
                        <a href=""><span class="fa fa-facebook-f tv-icon"></span></a>
                        <a href=""><span class="fa fa-twitter tv-icon"></span></a>
                        <a href=""><span class="fa fa-google-plus tv-icon"></span></a>
                        <a href=""><span class="fa fa-linkedin tv-icon"></span></a>
                        <a href=""><span class="fa fa-pinterest tv-icon"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--Navigation Bar Section-->

<!--Banner Section-->
<div class="tv-banner-image" style="background: rgba(0, 0, 0, 0) url('./assets/./../assets/images/bgbanner.png') no-repeat scroll center top / cover;">
    <div class="banner-title">
        <h1>Sikkim </h1>
        <h4>Mountainous state</h4>
        <!-- <a href="" class="btn btn-banner">Find More</a> -->
    </div>
</div>
<!--End Banner Section-->

<!--About Section-->
<section id="about" class="tv-section-padding">
    <div class="container">
        <div class="row tv-about-clear">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="tv-about-desc">
                    <img src="./../assets/./../assets/images/icon1.png" class="tv-offspace-30">
                    <h2>Trusted</h2>
                    <p>Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu. Vestibulum pretium, nulla sit amet efficitur molestie, dolor lectus ultrices purus, nec feugiat sem nisl aliquet augue.</p>
                    <!-- <a href="" class="btn btn-banner">Find More</a> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="tv-about-desc">
                    <img src="./../assets/images/icon4.png" class="tv-offspace-30">
                    <h2>Online Reservation</h2>
                    <p>Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu. Vestibulum pretium, nulla sit amet efficitur molestie, dolor lectus ultrices purus, nec feugiat sem nisl aliquet augue.</p>
                    <!-- <a href="" class="btn btn-banner">Find More</a> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="tv-about-desc">
                    <img src="./../assets/images/icon5.png" class="tv-offspace-30">
                    <h2>Customer Service</h2>
                    <p>Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu. Vestibulum pretium, nulla sit amet efficitur molestie, dolor lectus ultrices purus, nec feugiat sem nisl aliquet augue.</p>
                    <!-- <a href="" class="btn btn-banner">Find More</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section-->

<!--Hotel Section-->
<section id="hotel" class="tv-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="tv-hotel-desc">
                    <img src="./../assets/images/Image1.png">
                </div>
                <div class="tv-video-desc">
                    <img src="./../assets/images/Image2.png">
                    <button class="video-section_icon" data-toggle="modal" data-target="#myModal"><img src="./../assets/images/play-button(1).png" alt="">
                  </button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="tv-hotel-block">
                    <div class="tv-hotel-desc-block-2">
                        <h2>Wonderful places at Sikkim </h2>
                        <p>Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu. Vestibulum pretium, nulla sit amet efficitur molestie, dolor lectus ultrices purus, nec feugiat sem nisl aliquet augue.
                            Nullam vel mauris aliquam lorem consequat aliquam. Vestibulum in malesuada metus. Nullam molestie vitae est et tristique. Pellentesque lobortis quam nunc, eget sodales nisi hendrerit gravida. </p>
                    </div>
                    <div class="tv-readmore-block">
                        <a>Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Hotel Section-->

<!--Video Model Section-->
<section id="video-model">
    <div class="container">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2CnPQzzA9Hc?rel=0&autoplay=1" frameborder="0" id="video" allowscriptaccess="always" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Video Section-->


<!--Reservation Section-->
<!-- <div id="reservation" class="tv-section-padding tv-reservation-section">
    <div class="tv-reservation-image" style="background: rgba(0, 0, 0, 0) url('./../assets/images/Image11.png') no-repeat scroll center top / cover;">
        <div class="tv-reservation-desc">
            <h2 class="tv-offspace-bottom-30">Make reservation</h2>
            <h3 class="tv-offspace-bottom-60">Luxury room</h3>
            <a href="" class="btn btn-reservation">Book Now</a>
        </div>
    </div>
</div> -->
<!--End Reservation Section-->

<!--Our Room Section-->
<section id="ourrooms" class="tv-section-padding">
    <div class="container">
        <div class="row">
            <div class="tv-section-title tv-offspace-bottom-50">
                <h2>Our Bike Service</h2>
            </div>
            <div class="tv-room-clear">
                <div class="col-md-6">
                    <div class="row">
                        <div class="tv-room-content">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="tv-room-block">
                                    <div class="tv-room-image">
                                        <img src="./../assets/images/Image12.png" class="width-100">
                                        <a class="up-arrow">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                    <div class="tv-room-offer tv-offer-bottom">
                                        <p><span><i class="fa fa-inr" aria-hidden="true"></i>1500</span> / Day</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="tv-room-block">
                                    <div class="tv-room-desc">
                                        <h3>Royal Enfield Bullet 350cc</h3>
                                        <p>Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu.</p>
                                        <a href="" class="btn btn-room">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="tv-room-content">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="tv-room-block">
                                    <div class="tv-room-image">
                                        <img src="./../assets/images/Image12.png" class="width-100">
                                        <a class="up-arrow">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                    <div class="tv-room-offer tv-offer-bottom">
                                        <p><span><i class="fa fa-inr" aria-hidden="true"></i>1500</span> / Day</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="tv-room-block">
                                    <div class="tv-room-desc">
                                        <h3>Royal Enfield Bullet 350cc</h3>
                                        <p>Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu.</p>
                                        <a href="" class="btn btn-room">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="tv-room-content">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="tv-room-desc">
                                    <h3>Royal Enfield Bullet 500cc</h3>
                                    <p>Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu.</p>
                                    <a href="" class="btn btn-room">Book Now</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="tv-room-block">
                                    <div class="tv-room-image">
                                        <img src="./../assets/images/Image13.png" class="width-100">
                                        <a class="up-arrow-right">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                    <div class="tv-room-offer">
                                        <p><span><i class="fa fa-inr" aria-hidden="true"></i>1500</span> / Day</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="tv-room-content">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="tv-room-desc">
                                    <h3>Royal Enfield Bullet 500cc</h3>
                                    <p>Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu.</p>
                                    <a href="" class="btn btn-room">Book Now</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="tv-room-block">
                                    <div class="tv-room-image">
                                        <img src="./../assets/images/Image13.png" class="width-100">
                                        <a class="up-arrow-right">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                    <div class="tv-room-offer">
                                        <p><span><i class="fa fa-inr" aria-hidden="true"></i>1500</span> / Day</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Our Room Section-->

<!--Needs Section-->
<section id="needs" class="tv-section-padding">
    <div class="tv-needs-image" style="background: rgba(0, 0, 0, 0) url('./../assets/images/Image16.png') no-repeat scroll center top / cover;">
        <div class="container">
            <div class="row">
                <div class="tv-section-padding-45">
                    <div class="tv-section-title tv-room-title tv-offspace-bottom-50">
                        <h2>An Finder For All Your Needs</h2>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="tv-needs-block">
                            <div class="tv-needs-image-block">
                                <img src="./../assets/images/Image24.png" class="width-100">
                            </div>
                            <div class="overlay">
                                <div class="text">
                                    <h2 class="tv-overlay-title tv-offspace-bottom-30">Hotel Find For Wedding</h2>
                                    <p class="tv-overlay-paragraph tv-offspace-bottom-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
                                    <h4 class="tv-overlay-offer-title tv-offspace-bottom-30">30% Off Today</h4>
                                    <a href="" class="btn btn-needs">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12">
                            <div class="tv-needs-image-block tv-480xs-margin-top-40 tv-xs-margin-top-40 tv-sm-margin-top-40 tv-offspace-bottom-40">
                                <img src="./../assets/images/Image17.png" class="width-100">
                                <div class="tv-needs-image-desc">
                                    <h4>Package </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="tv-needs-image-block tv-480xs-margin-bottom-40 tv-sm-margin-bottom-40 tv-xs-margin-bottom-40">
                                <img src="./../assets/images/Image18.png" class="width-100">
                                <div class="tv-needs-image-desc">
                                    <h4>Test</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Needs Section-->

<!--Project Section-->
<section id="project" class="tv-section-padding">
    <div class="tv-section-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="tv-project-block tv-section-padding-45">
                        <img src="./../assets/images/Image25.png">
                        <p class="counter" data-slno='1' data-min='0' data-max='735' data-delay='.9' data-increment=1>735</p>
                        <h4 class="tv-offspace-30">Customers</h4>
                    </div>
                </div>
                <!-- <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="tv-project-block tv-section-padding-45">
                        <img src="./../assets/images/Image25.png">
                        <p class="counter" data-slno='1' data-min='0' data-max='1600' data-delay='.9' data-increment=1>1600</p>
                        <h4 class="tv-offspace-30">Celebrities</h4>
                    </div>
                </div> -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="tv-project-block tv-section-padding-45">
                        <img src="./../assets/images/Image25.png">
                        <p class="counter" data-slno='1' data-min='0' data-max='1452' data-delay='.9' data-increment=1>223</p>
                        <h4 class="tv-offspace-30">Returns</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="tv-project-block tv-section-padding-45">
                        <img src="./../assets/images/Image25.png">
                        <p class="counter" data-slno='1' data-min='0' data-max='4325' data-delay='.9' data-increment=1>650</p>
                        <h4 class="tv-offspace-30">happy People</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Counter Script-->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 20,
            time: 1000
        });
    });
</script>
<!--End Counter Script-->
<!--End Project Section-->

<!--Summer Section-->
<section id="summer" class="tv-section-padding">
    <div class="container">
        <div class="row">
            <div class="tv-summer-block">
                <h2 class="tv-offspace-bottom-30"><span>HIMALAYAN</span> EXPLORER</h2>
                <h3>Summer Package Offer</h3>
                <h4 class="tv-offspace-30">Are you Ready For Awesomeness?</h4>
                <p class="tv-offspace-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy</p>
                <a href="" class="btn btn-room tv-offspace-30">Book Now</a>
            </div>
        </div>
    </div>
</section>
<!--End Summer Section-->

<!--Testimonial Section-->
<section id="testimonial" class="tv-section-padding">
    <div class="container">
        <div class="row">
            <div class="tv-section-title tv-offspace-bottom-50">
                <h2>testimonial</h2>
            </div>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
                <!-- End Indicators -->

                <!-- Wrapper for slides -->
                <div class="carousel-inner tv-testinominal-slider" role="listbox">
                    <div class="item active">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div id="testimonial-slider">
                                <div class="testimonial">
                                    <div class="pic">
                                        <img src="./../assets/./../assets/images/Image19.png" alt="">
                                    </div>
                                    <h3 class="title">
                                        David Warner
                                    </h3>
                                    <span>Happy Clients</span>
                                    <p class="description tv-offspace-30">
                                        Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu. Vestibulum pretium, nulla sit amet efficitur molestie, dolor lectus ultrices purus, nec feugiat sem nisl aliquet augue.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div id="testimonial-slider">
                                <div class="testimonial">
                                    <div class="pic">
                                        <img src="./../assets/./../assets/images/Image20.png" alt="">
                                    </div>
                                    <h3 class="title">
                                        David Warner
                                    </h3>
                                    <span>Happy Clients</span>
                                    <p class="description tv-offspace-30">
                                        Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu. Vestibulum pretium, nulla sit amet efficitur molestie, dolor lectus ultrices purus, nec feugiat sem nisl aliquet augue.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div id="testimonial-slider">
                                <div class="testimonial">
                                    <div class="pic">
                                        <img src="./../assets/./../assets/images/Image21.png" alt="">
                                    </div>
                                    <h3 class="title">
                                        David Warner
                                    </h3>
                                    <span>Happy Clients</span>
                                    <p class="description tv-offspace-30">
                                        Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu. Vestibulum pretium, nulla sit amet efficitur molestie, dolor lectus ultrices purus, nec feugiat sem nisl aliquet augue.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tv-testinominal-block">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div id="testimonial-slider">
                                    <div class="testimonial">
                                        <div class="pic">
                                            <img src="./../assets/images/Image19.png" alt="">
                                        </div>
                                        <h3 class="title">
                                            David Warner
                                        </h3>
                                        <span>Happy Clients</span>
                                        <p class="description tv-offspace-30">
                                            Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu. Vestibulum pretium, nulla sit amet efficitur molestie, dolor lectus ultrices purus, nec feugiat sem nisl aliquet augue.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div id="testimonial-slider">
                                    <div class="testimonial">
                                        <div class="pic">
                                            <img src="./../assets/images/Image20.png" alt="">
                                        </div>
                                        <h3 class="title">
                                            David Warner
                                        </h3>
                                        <span>Happy Clients</span>
                                        <p class="description tv-offspace-30">
                                            Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu. Vestibulum pretium, nulla sit amet efficitur molestie, dolor lectus ultrices purus, nec feugiat sem nisl aliquet augue.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div id="testimonial-slider">
                                    <div class="testimonial">
                                        <div class="pic">
                                            <img src="./../assets/images/Image21.png" alt="">
                                        </div>
                                        <h3 class="title">
                                            David Warner
                                        </h3>
                                        <span>Happy Clients</span>
                                        <p class="description tv-offspace-30">
                                            Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu. Vestibulum pretium, nulla sit amet efficitur molestie, dolor lectus ultrices purus, nec feugiat sem nisl aliquet augue.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tv-testinominal-block">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div id="testimonial-slider">
                                    <div class="testimonial">
                                        <div class="pic">
                                            <img src="./../assets/images/Image19.png" alt="">
                                        </div>
                                        <h3 class="title">
                                            David Warner
                                        </h3>
                                        <span>Happy Clients</span>
                                        <p class="description tv-offspace-30">
                                            Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu. Vestibulum pretium, nulla sit amet efficitur molestie, dolor lectus ultrices purus, nec feugiat sem nisl aliquet augue.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div id="testimonial-slider">
                                    <div class="testimonial">
                                        <div class="pic">
                                            <img src="./../assets/images/Image20.png" alt="">
                                        </div>
                                        <h3 class="title">
                                            David Warner
                                        </h3>
                                        <span>Happy Clients</span>
                                        <p class="description tv-offspace-30">
                                            Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu. Vestibulum pretium, nulla sit amet efficitur molestie, dolor lectus ultrices purus, nec feugiat sem nisl aliquet augue.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div id="testimonial-slider">
                                    <div class="testimonial">
                                        <div class="pic">
                                            <img src="./../assets/./../assets/images/Image21.png" alt="">
                                        </div>
                                        <h3 class="title">
                                            David Warner
                                        </h3>
                                        <span>Happy Clients</span>
                                        <p class="description tv-offspace-30">
                                            Duis tincidunt consequat lorem, ut vulputate diam eleifend sed. Integer a porttitor lacus, vel finibus arcu. Vestibulum pretium, nulla sit amet efficitur molestie, dolor lectus ultrices purus, nec feugiat sem nisl aliquet augue.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Wrapper for slides -->
            </div>
        </div>
    </div>
</section>
<!--End Testimonial Section-->

<!--News Section-->
<section id="blog" class="tv-section-padding">
    <div class="container">
        <div class="row">
            <div class="tv-section-title tv-offspace-bottom-50">
                <h2>Other Places</h2>
            </div>
            <div class="carousel slide tv-newsslider" id="myCarousel2" data-ride="carousel">
                <div role="listbox" class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img class="img-responsive" src="./../assets/images/Image22.png" alt="Hello">
                            <div class="tv-news-desc tv-offspace-30">
                                <h3 class="tv-offspace-left-15">Nepal</h3><br>
                                <p class="tv-offspace-30">A magnificient Himalayan kingdom, the birth place of Lord Buddha, known for its many places of worship and peaks. </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img class="img-responsive tv-480xs-margin-top-30 tv-xs-margin-top-30" src="./../assets/images/Image23.png" alt="Hello">
                            <div class="tv-news-desc tv-offspace-30">
                                <h3 class="tv-offspace-left-15">Bhutan</h3><br>
                                <p class="tv-offspace-30">Also know as the Land of the Thunder Dragon, the last standing Buddhist Kingdom of its kind in the Himalayas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img class="img-responsive" src="./../assets/images/Image22.png" alt="Hello">
                            <div class="tv-news-desc tv-offspace-30">
                                <h3 class="tv-offspace-left-15">Darjeeling</h3><br>
                                <p class="tv-offspace-30">A world reknowned Hill Station, used by the British for summer retreats, know for its magnificent views and tourist spots.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img class="img-responsive" src="./../assets/images/Image22.png" alt="Hello">
                            <div class="tv-news-desc tv-offspace-30">
                                <h3 class="tv-offspace-left-15">Darjeeling</h3><br>
                                <p class="tv-offspace-30">A world reknowned Hill Station, used by the British for summer retreats, know for its magnificent views and tourist spots.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow-button">
                    <a href="#myCarousel2" role="button" data-slide="prev" class="left carousel-control">
                        <img src="./../assets/images/2.png">
                    </a>
                    <a href="#myCarousel2" role="button" data-slide="next" class="right carousel-control">
                        <img src="./../assets/images/1.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End News Section-->

<!--Newsletter Section-->
<!-- <section class="tv-section-padding">
    <div class="tv-bg-color tv-section-padding-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="tv-newsletter-desc">
                        <div class="tv-section-title tv-newsletter-title">
                            <h2 class="tv-480xs-margin-bottom-40 tv-xs-margin-bottom-40">Subscribe to our Newsletter</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <form class="tv-link-form">
                        <div class="input-group">
                            <input placeholder="Enter Email Address" name="subscribe" value="" class="form-control tv-link-box placeholder-fix" type="text" required="">
                            <span class="input-group-btn">
                              <button type="submit" class="btn tv-link-button">subscribe</button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--End Newsletter Section-->

<section class="tv-section-padding" id="contactus">
    <div class="container">
        <div class="row text-center">
            <div class="tv-section-title tv-offspace-bottom-50">
                <h2>Contact Us</h2>
            </div>
            <form>
                <div class="col-md-6">
                    <div class="form-group contact-form">
                        <input aria-invalid="false" required="" placeholder="name" class="form-control placeholder-fix" id="name" type="text">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group contact-form">
                        <input aria-invalid="false" required="" placeholder="Email ID" class="form-control placeholder-fix" id="name" type="text">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group contact-form">
                        <input aria-invalid="false" required="" placeholder="Phone Number" class="form-control placeholder-fix" id="name" type="text">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select budget
                          <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a>Standerd</a></li>
                            <li><a>Dulex</a></li>
                            <li><a>Luxury</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group txt">
                        <textarea aria-invalid="false" required="" placeholder="message" rows="4" class="form-control placeholder-fix" id="message" name="message"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn tv-contact-button">Send</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>

<!--Footer Section-->
<footer class="tv-section-padding">
    <div class="tv-bg-footer-color tv-section-padding-45">
        <div class="container">
            <div class="row">
                <div class="tv-footer-content tv-section-inner-padding">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="tv-footer-desc">
                            <h2 class="tv-offspace-bottom-30"><span>HIMALAYAN</span> EXPLORER</h2>
                            <p>The Himalayan Explorer is a well-reputed tour and travel agency based in Gangtok. We have been operating for the last 15 years and are renowned for hospitality and customer satisfaction. The driving force behind its establishment
                                was our passion for adventure, to share the beauty of the Himalayas with the outside world, and to promote Sikkim as a premier exotic tourist destination.</p>
                            <br>
                            <div class="tv-footer-desc">
                                <!-- <h3 class="tv-info-title tv-480xs-margin-top-40 tv-xs-margin-top-30">Instagram</h3> -->
                                <div class="tv-contact-content">
                                    <img src="./../assets/./../assets/images/location.png">
                                    <span>The Himalayan Explorer
                                                    Below Alfa Lodge
                                                    MG Marg ,Gangtok ,Sikkim</span>
                                </div>
                                <div class="tv-contact-content">
                                    <img src="./../assets/./../assets/images/phone.png">
                                    <span>+91-8348469627,
                                                    +91-9434153421,
                                                    +91-9832027658,
                                                    +91-8116352281</span>
                                </div>
                                <div class="tv-contact-content">
                                    <img src="./../assets/./../assets/images/email.png">
                                    <a>contact@thehimalayanexplorer.com</a>
                                </div>
                            </div>
                            <div class="tv-social-navbar">
                                <a href=""><span class="fa fa-facebook-f fb"></span></a>
                                <a href=""><span class="fa fa-twitter twitter"></span></a>
                                <a href=""><span class="fa fa-google-plus google"></span></a>
                                <a href=""><span class="fa fa-linkedin link"></span></a>
                                <a href=""><span class="fa fa-pinterest pin"></span></a>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 tv-sm-margin-top-40">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7773.1995387083525!2d77.58349783643393!3d13.061128614960907!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae161360dace59%3A0xc287bc0558fe6a6!2sChairman%E2%80%99s+Resort!5e0!3m2!1sen!2sin!4v1536232187943"
                            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="tv-footer-copyright tv-offspace-65">
                            <p>Created with <i class="fa fa-heart"></i></p>
                            <!--Do not remove Backlink from footer of the template. To remove it you can purchase the Backlink !-->
                            <p style="display: none;">&copy; All right reserved. Designed by <a href="https://www.themevault.net" target="_blank">Abhishek</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End Footer Section-->

<!--Back To Top-->
<a id="back-to-top" style="display:none;"><i class="fa fa-caret-up fa-lg"></i></a>
<!--Back To Top End-->

<!--Scrolling Script-->
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
        $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

            if (this.hash !== "") {

                event.preventDefault();

                // Store hash
                var hash = this.hash;

                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function() {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    });
</script>
<!--End Scrolling Script-->

<!--Magnefic Popup Script-->
<script>
    $(document).ready(function() {
        var $imagePopup = $('[data-image-popup]');
        /*Image*/
        $imagePopup.magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            }
        });
    });
</script>
<!--Magnefic Popup Script Ends Here..-->